<header class="bg-dark">
  <nav class="navbar">
    <h1 routerLink="/">Online Shop</h1>

    <ul *ngIf="auth.isAuthenticated(); else loginLink">
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'dashboard']">Dashboardd</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'add']">Add Product</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'orders']">Orders</a>
      </li>
      <li routerLinkActive="active">
        <a href="#" (click)="logout($event)">Logout</a>
      </li>
    </ul>

    <ng-template #loginLink>
      <ul>
        <li routerLinkActive="active">
          <a [routerLink]="['/admin', 'login']">Login</a>
        </li>
      </ul>
    </ng-template>
  </nav>
  
</header>
<div class="container admin-content">
  <router-outlet></router-outlet>
</div>
